<ul class="grid">
    <li class="grid-item" (click)="rent()"><img src="../../assets/serviceAssets/rent.jpg" alt="Image"> <button
            class="btn btn-lg btn-dark btns" (click)="rent()">Rent</button> </li>

    <li class="grid-item" (click)="ride()"><img src="../../assets/serviceAssets/share.jpg" alt="Image"> <button
            class="btn btn-lg btn-dark btns" (click)="ride()">Share</button></li>

    <li class="grid-item" (click)="trip()"><img src="../../assets/serviceAssets/truck.jpg" alt="Image"> <button
            class="btn btn-lg btn-dark btns" (click)="trip()">Truck Trip</button></li>
    <br><br>

</ul>