/* card */
.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    height: 100%;
    /* margin: 0 auto; */
    padding: 50px;
    margin-left: 20vh;
    list-style: none;
    margin-top: 20vh;
  }
  
  .grid-item {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 260px;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 220px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 3rem;
    font-weight: 600;
    color: black;
    background: white;
    box-shadow: inset 0px 0px 0px 1px white;
    transform: translate(0, 0);
    transition: transform 0.14s ease-in, text-shadow 0.1s ease-in;
    will-change: transform;
    cursor: pointer;
  }
  
  .grid-item img {
    height: 220px;
    width: auto;
    size: cover;
  }
  
  .grid-item:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: none;
    border-radius: 3px;
    box-shadow: 0 10px 24px 0px rgba(0, 0, 0, 0.02), 0 8px 20px -2px rgba(0, 0, 0, 0.06), 0 6px 10px -6px rgba(0, 0, 0, 0.10);
    transition: opacity 0.1s ease-in;
    will-change: opacity;
    opacity: 0;
  }
  
  .grid-item:hover {
    transform: translate(0, -20px);
  }
  
  .grid-item:hover:before {
    opacity: 1;
  }
  
  
  .btns {
    padding: 10px;
  }
  