<!DOCTYPE html>
<html>

<head>
  <title>Truck Website</title>
  <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> -->
  <!-- <link href="https://cdn.jsdelivr.net/npm/@angular/material@13.0.0-pre.1@pre/bundles/mat-basic-theme.css" rel="stylesheet"> -->
  <!-- <link rel="stylesheet" type="text/css" href="styles.css"> -->
</head>

<body>
  <div class="container">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>


  <section class="why-choose-us">
    <div class="container2">
      <h2>Why Choose Us</h2>
      <div class="row">
        <div class="col">
          <h3>Experience</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis volutpat ullamcorper elit, et ultricies metus placerat eget.</p>
        </div>
        <div class="col">
          <h3>Quality</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis volutpat ullamcorper elit, et ultricies metus placerat eget.</p>
        </div>
        <div class="col">
          <h3>Support</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis volutpat ullamcorper elit, et ultricies metus placerat eget.</p>
        </div>
      </div>
    </div>
  </section>

  

</body>

</html>
