<!-- <!DOCTYPE html>
<html>

<head>
  <title>Truck Website</title> -->
  <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> -->
  <!-- <link href="https://cdn.jsdelivr.net/npm/@angular/material@13.0.0-pre.1@pre/bundles/mat-basic-theme.css" rel="stylesheet"> -->
  <!-- <link rel="stylesheet" type="text/css" href="styles.css"> -->
<!-- </head>

<body>
  <div class="container">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div> -->


  <!-- <section class="why-choose-us">
    <div class="container2">
      <h2>Why Choose Us</h2>
      <div class="row">
        <div class="col">
          <h3>Experience</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis volutpat ullamcorper elit, et ultricies metus placerat eget.</p>
        </div>
        <div class="col">
          <h3>Quality</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis volutpat ullamcorper elit, et ultricies metus placerat eget.</p>
        </div>
        <div class="col">
          <h3>Support</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis volutpat ullamcorper elit, et ultricies metus placerat eget.</p>
        </div>
      </div>
    </div>
  </section> -->

  

<!-- </body> -->


<!-- <body>
 
  <div class="wrapper">
    <div class="header">Avengers Responsive Cards UI Design</div>
  
    <div class="cards_wrap">
      <div class="card_item">
        <div class="card_inner">
          <img src="black_panther.png">
          <div class="role_name">Black Panther</div>
          <div class="real_name">Chadwick Boseman</div>
          <div class="film">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.</div>
        </div>
      </div>
      <div class="card_item">
        <div class="card_inner">
          <img src="doctor_strange.png">
          <div class="role_name">Doctor Strange</div>
          <div class="real_name">Benedict Cumberbatch</div>
          <div class="film">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.</div>
        </div>
      </div>
      <div class="card_item">
        <div class="card_inner">
          <img src="black_widow.png">
          <div class="role_name">Black Widow</div>
          <div class="real_name">Scarlett Johansson</div>
          <div class="film">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.</div>
        </div>
      </div>
      <div class="card_item">
        <div class="card_inner">
          <img src="Spider_man.png">
          <div class="role_name">Spider Man</div>
          <div class="real_name">Tom Holland</div>
          <div class="film">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.</div>
        </div>
      </div>
      <div class="card_item">
        <div class="card_inner">
          <img src="black_widow.png">
          <div class="role_name">Black Widow</div>
          <div class="real_name">Scarlett Johansson</div>
          <div class="film">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.</div>
        </div>
      </div>
      <div class="card_item">
        <div class="card_inner">
          <img src="black_panther.png">
          <div class="role_name">Black Panther</div>
          <div class="real_name">Chadwick Boseman</div>
          <div class="film">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.</div>
        </div>
      </div>
      <div class="card_item">
        <div class="card_inner">
          <img src="Spider_man.png">
          <div class="role_name">Spider Man</div>
          <div class="real_name">Tom Holland</div>
          <div class="film">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.</div>
        </div>
      </div>
      <div class="card_item">
        <div class="card_inner">
          <img src="doctor_strange.png">
          <div class="role_name">Doctor Strange</div>
          <div class="real_name">Benedict Cumberbatch</div>
          <div class="film">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt aliqua.</div>
        </div>
      </div>
    </div>
  </div>  
  
  </body> -->

<!-- </html> -->
<body>
  
  <div class="wholepage">
<div class="container">
  <div class="image-section">
    <!-- <img src="../../../assets/tripAssets/img1.jpg" class="background-image" alt="Background Image" /> -->
  
    <div class="arrow-container">
      <a (click)="scrollToCards()">
        <i class="material-icons arrow-icon">keyboard_arrow_down</i>
      </a>
    </div>
  </div>
</div>
<div class="container">
  <div class="cards-section" id="cardsSection">
    <div class="cards-container">
      <mat-card *ngFor="let card of cards" class="card">
        <img src="{{ card.image }}" class="card-image" alt="Card Image" />
        <mat-card-content>
          <mat-card-title>{{ card.title }}</mat-card-title>
          <mat-card-subtitle>{{ card.subtitle }}</mat-card-subtitle>
          <p class="card-description">{{ card.description }}</p>
          <!-- <button mat-button>Button</button> -->
          <button mat-raised-button class="custom-button">Choose</button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
  </div>
</body>
