<div class="container">
    <h2>Book your ride</h2>
    <form [formGroup]="rideSharing" (ngSubmit)="onSubmit(rideSharing)" class="ride-share">
        <div>
            <mat-form-field class="example-full-width">
                <mat-label>Source</mat-label>

                <input type="text" id="ride_source" name="ride_source" placeholder="Source"
                    formControlName="ride_source" matInput>
            </mat-form-field>


            <input type="text" id="destination" name="destination" placeholder="Destination" required>
            <input type="date" id="date" name="date" required>
            <div class="passenger-count">

                <input type="number" id="passenger" name="passenger" min="1" value="1" required>

            </div>
            <button type="button" class="search-btn">Search</button>
        </div>
    </form>
</div>