/* body {
    margin: 0;
    overflow-x: hidden;
    font-family: "helvetica";
    background-color: #FFFFF9;

} */

/* Maps */
#googleMap {
    margin-top: 5px;

    height: 400px;
    width: 200vh;

}

.container {
    margin-left: 0;
}

.ride img {
    width: 200vh;
    height: 550px;
    margin-left: 0;
}

.ride {
    position: relative;
    display: inline-block;
}

.image-content h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.image-content p {
    font-size: 16px;
    margin-bottom: 0;
}

.image-content {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 10px;
    color: #110b76;
    text-align: center;
}


/*=========== Ride search form ====================*/
.container1 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 20vh;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-row {
    display: flex;
    gap: 20px;
}

mat-form-field {
    flex: 1;
    margin-bottom: 0;
}

button {
    margin-top: 1%;
}

/* =========================================================== */

/* Grid-list */
.column {
    float: left;
    width: 30%;
    padding: 10px;
    margin: 20px;

}

.row {
    background-color: #FFFFF9;
}

.row:after {

    content: "";
    display: table;
    clear: both;
}

.icons img {
    height: 70px;
    width: 70px;
}

.icons p {
    font-size: small;
}



/* learn-more */

.learn-more {
    background-color: #007DFE;
    display: flex;
    align-items: center;
    color: white;
    font-family: "Helvetica Neue";
    font-size: 20px;
    font-weight: bold;
    margin: 5px;
    border: 1px black;
    box-shadow: 100px rgb(148, 66, 66);
}


.learn-more .image-container {
    flex: 1;
    padding: 20px;
}

.content {
    flex: 1;
    padding: 20px;
}

.learn-more .people img {
    height: 25em;
    width: 25em;
    padding: 30px;

    margin: 30px;
}

/* help-centre */
.help-centre h1 {
    position: relative;
    left: 35%;
}

.help-centre .row {
    padding-left: 100px;
    margin-right: 50px;
    margin-left: 50px;
    /* align-items: center;
    align-content: center; */
}

.help-centre .column {
    width: 40%;
}


@media screen and (max-width:767px) {

    /*=========== Ride search form ====================*/
    .container1 {
        align-items: center;
        padding-top: 80vh;
    }


    .form-row {
        flex-direction: column;
        gap: 10px;
    }


    mat-form-field {
        width: 100%;
    }


    button {
        margin-top: 10px;
    }
}

@media screen and (min-width:767px) and (max-width:1023px) {

    /*=========== Ride search form ====================*/
    .container1 {
        align-items: center;
        padding-top: 95vh;
    }


    .form-row {
        flex-direction: column;
        gap: 10px;
    }


    mat-form-field {
        width: 100%;
    }


    button {
        margin-top: 10px;
    }
}