<!-- <header class="header">
  <div class="logo">
    <img src="../../assets/headerAssets/ncs_logo.png" alt="Logo">
  </div>
  <div class="profile-dropdown" [matMenuTriggerFor]="dropdownMenu">
 
    <button mat-icon-button class="profile-button" (click)="toggleDropdown()">
      <i class="fas fa-user-circle person-icon"></i>
      <i class="arrow-icon" [ngClass]="{ 'inverted': isDropdownOpen }"></i>
    </button>
    <mat-menu #dropdownMenu="matMenu" class="dropdown-content" [ngClass]="{ 'open': isDropdownOpen }">
      <button mat-menu-item (click)="openDialog()">
        <span>Login</span>
      </button>
      <button mat-menu-item (click)="openDialog()">
        <span>Register</span>
      </button>
    </mat-menu>
  </div>
</header> -->
<!-- header section start -->
<div class="header_section">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="index.html"><img src="images/logo.png"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html" (click)=" toDashboard()">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="toAboutUs()">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="services.html">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="gallery.html">Vehicles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="client.html">Client</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
        </form>
      </div>
      <div class="profile-dropdown" [matMenuTriggerFor]="dropdownMenu">

        <button mat-icon-button class="profile-button" (click)="toggleDropdown()">
          <img src="../../assets/headerAssets/profile.png" alt="profile">
          <i class="arrow-icon" [ngClass]="{ 'inverted': isDropdownOpen }"></i>
        </button>
        <mat-menu #dropdownMenu="matMenu" class="dropdown-content" [ngClass]="{ 'open': isDropdownOpen }">
          <button mat-menu-item (click)="openDialog()">
            <span>Login</span>
          </button>
          <button mat-menu-item (click)="openDialog()">
            <span>Register</span>
          </button>
        </mat-menu>
      </div>
    </nav>
  </div>
</div>
<!-- header section end -->