.dashboard {
  padding: 20px;
}

/*   
  .cover-image {
    background-image: url("../../assets/dashboardAssets/car_cover.jpg"); 
    background-size: cover;
    background-position: center;
    height: 400px; 
  }
   */