<!-- header section end -->
<div class="call_text_main">
    <div class="container">
        <div class="call_taital">
            <div class="call_text"><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i><span
                        class="padding_left_15">A truly seamless experience</span></a></div>

        </div>
    </div>
</div>
<!-- banner section start -->
<div class="banner_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div id="banner_slider" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="banner_taital_main">
                                <h1 class="banner_taital">Car Rent <br><span style="color: #fe5b29;">For You</span></h1>
                                <p class="banner_text">There are many variations of passages of Lorem Ipsum available,
                                    but the majority</p>
                                <div class="btn_main">
                                    <div class="contact_bt"><a href="#">Read More</a></div>
                                    <div class="contact_bt active"><a href="#">Contact Us</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="banner_taital_main">
                                <h1 class="banner_taital">Car Rent <br><span style="color: #fe5b29;">For You</span></h1>
                                <p class="banner_text">There are many variations of passages of Lorem Ipsum available,
                                    but the majority</p>
                                <div class="btn_main">
                                    <div class="contact_bt"><a href="#">Read More</a></div>
                                    <div class="contact_bt active"><a href="#">Contact Us</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="banner_taital_main">
                                <h1 class="banner_taital">Car Rent <br><span style="color: #fe5b29;">For You</span></h1>
                                <p class="banner_text">There are many variations of passages of Lorem Ipsum available,
                                    but the majority</p>
                                <div class="btn_main">
                                    <div class="contact_bt"><a href="#">Read More</a></div>
                                    <div class="contact_bt active"><a href="#">Contact Us</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#banner_slider" role="button" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a class="carousel-control-next" href="#banner_slider" role="button" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="banner_img"><img src="../../assets/dashboardAssets/banner-bg.png"></div>
            </div>
        </div>
    </div>
</div>
<!-- banner section end -->
<app-about-us></app-about-us>
<!-- choose section start -->
<div class="choose_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="choose_taital">WHY CHOOSE US</h1>
            </div>
        </div>
        <div class="choose_section_2">
            <div class="row">
                <div class="col-sm-4">
                    <div class="icon_1"><img src="../../assets/dashboardAssets/icon-1.png"></div>
                    <h4 class="safety_text">SAFETY & SECURITY</h4>
                    <p class="ipsum_text">variations of passages of Lorem Ipsum available, but the majority have </p>
                </div>
                <div class="col-sm-4">
                    <div class="icon_1"><img src="../../assets/dashboardAssets/icon-2.png"></div>
                    <h4 class="safety_text">Online Booking</h4>
                    <p class="ipsum_text">variations of passages of Lorem Ipsum available, but the majority have </p>
                </div>
                <div class="col-sm-4">
                    <div class="icon_1"><img src="../../assets/dashboardAssets/icon-3.png"></div>
                    <h4 class="safety_text">Best Drivers</h4>
                    <p class="ipsum_text">variations of passages of Lorem Ipsum available, but the majority have </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- choose section end -->

<!-- client section start -->
<div class="content-section implementation carousel-demo">
    <div class="card">
        <p-carousel [value]="images" styleClass="custom-carousel" [numVisible]="3" [numScroll]="1" [circular]="true"
            [autoplayInterval]="0" [responsiveOptions]="responsiveOptions">
            <ng-template let-image pTemplate="item">
                <div class="item card">
                    <img src="{{image.picture}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-text">{{image.random}}</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </ng-template>
        </p-carousel>
    </div>
</div>


<!-- client section end -->