<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>Drawer content</mat-drawer>
    <mat-drawer-content>
        <mat-grid-list cols="2" rowHeight="2:1">
            <mat-grid-tile class="grid-tile" matTooltip="Tooltip Text" matTooltipPosition="above">
                1
            </mat-grid-tile>
            <mat-grid-tile class="grid-tile" matTooltip="Tooltip Text" matTooltipPosition="above">
                2
            </mat-grid-tile>
            <mat-grid-tile class="grid-tile" matTooltip="Tooltip Text" matTooltipPosition="above">
                3
            </mat-grid-tile>
            <mat-grid-tile class="grid-tile" matTooltip="Tooltip Text" matTooltipPosition="above">
                4
            </mat-grid-tile>
        </mat-grid-list></mat-drawer-content>
</mat-drawer-container>