body {
  background-color: #EEEEEE;
}

.container {

  position: relative;
}

img {
  height: 100%;
  width: 180vh;
  display: block;
}

.img-container {
  height: 100%;
  width: 180vh;
  /* margin-right: 20px;
  margin-left: 20px; */
  position: relative;
}

.content {
  width: 150vh;
  height: 100vh;
  background-color: rgb(55, 51, 171);
  color: white;
  position: absolute;
  top: 130vh;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 20px;
  text-align: center;
}

.heading {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;

  padding: 20px;
  text-align: center;
}

.heading .head {
  font-size: 50px;
  font-weight: 500;
}

.heading .sub {
  font-size: 20px;
}

.space {
  margin-right: 20px;
}

/* 

.how-heading {
  align-items: center;
} */
.how {
  background-color: #EEEEEE;
  position: absolute;
  top: 180vh;
  width: 100%;
  flex-direction: column;
  align-items: center;

}

/* .how {
  display: flex;
  
  justify-content: center;
  text-align: center;
  height: 100vh;
} */

.how-heading {
  margin-bottom: 10px;
}

.how-content {
  margin-bottom: 20px;
}

.how img {
  max-width: 100%;
  height: auto;
}