<!-- <body>
    <div class="container">
        <div class="img-container">
            <img src="../../assets/rentAssets/rent.jpg" alt="">
        </div>
        <div class="heading">
            <span class="head"> Fast And Effective Service</span><br>
            <span class="sub">We let you pick the car that will ensure best trip ever!</span>
        </div>
        <div class="content">
            <h3>SERACH FROM</h3>
            <span class="head">Looking for a Car?</span>
            <br><br>
            <form>
                <mat-form-field>
                    <mat-label>Pick-Up City & Location</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let city of cities" [value]="city">{{ city }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <br>
                <mat-form-field class="space">
                    <mat-label>Date From</mat-label>
                    <input matInput [matDatepicker]="pickerFrom" placeholder="Choose a date" name="dateFrom">
                    <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
                    <mat-datepicker #pickerFrom></mat-datepicker>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Date To</mat-label>
                    <input matInput [matDatepicker]="pickerTo" placeholder="Choose a date" name="dateTo">
                    <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
                    <mat-datepicker #pickerTo></mat-datepicker>
                </mat-form-field>
                <br>
                <mat-form-field class="space">
                    <mat-label>PickUp at</mat-label>
                    <input matInput placeholder="PickUp location" name="pickUpLocation">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Drop at</mat-label>
                    <input matInput placeholder="Drop location" name="dropLocation">
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>Class</mat-label>
                    <mat-select>
                        <mat-option value="suv">SUV</mat-option>
                        <mat-option value="sedan">Sedan</mat-option>
                    </mat-select>
                </mat-form-field>
                <br>
                <button mat-raised-button color="green">Search</button>
            </form>
        </div>
    </div>
    <div class="how">
        <h4 class="how-heading">HOW TO RENT</h4>
        <span class="how-content">Make 4 Simple Steps To
            Rent a Car!</span>
        <h2>It’s easy to rent a car!</h2>
        <img src="../../assets/rentAssets/how.png" alt="">
    </div>
</body> -->